# --- Rust 関連 ---
target/

# --- C++ 関連 ---
*.out
*.exe
*.o
*.obj
*.dSYM/

# --- コンテスト支援ツール関連 ---
# テストケースは容量を食うのと、ツールで再取得できるので無視
test/
tests/
.cargo-compete/

# --- エディタ・一時ファイル ---
.vscode/
.idea/
.vs/
*.swp
*.log
in.txt
out.txt

# --- 特定の不要ファイル ---
template-cargo-lock.toml